@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans&display=swap');
/* @import url('/js/js.js'); */

*,
*:before,
*:after {
    box-sizing: border-box; /* Правильное отображение ширины и высоты с учетом pading */
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 62.5%; /* ~10 px */ 
}

/* Desktop 1440px x height */

.container {    /* Aligns everything in the center and adds padding */
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 0 12rem;   
}

.inner_container { /* Align headers and subheaders to the center line size  */
    max-width: 73rem; /* 730 px - 730/12 */
    margin: 0 auto;
}

.txt__wrapper { /* Aligns headings and subheadings in the center relative to each other, possibly useless */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {   /* */
    min-height: 6rem;
    padding: 1.5rem 0;
    background-color: #fff;
    margin: 0;

}

.header .header_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header .header_nav_list .header_nav_item {
    list-style: none;
}

.header .header_nav_list .header_nav_item a {
    text-decoration: none;
}

.header .header_nav_list .header_nav_item .link_block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .header_nav_list .header_nav_item .link_block .link_block_item {
    list-style: none;
    margin-right: 3.2rem;
}
.header .header_nav_list .header_nav_item .link_block .link_block_item:last-child {
    margin-right: 0;
}

.header .header_nav_list .header_nav_item .link_block .link_block_item a {
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000;
    
    text-transform: uppercase;
    /* transition: all 200ms ease-in; */
    text-decoration: none;
}

.header .header_nav_list .header_nav_item .link_block .link_block_item a:hover {
    text-decoration: underline;
}
.header .header_nav_list .header_nav_item a {
    /* transition: all 200ms ease-in; */
    text-decoration: none;
}

.promo_bagcollection {
    min-height: 32rem;
    background: url('/img/promo_bagcolliction/bg_bagcolliction@3x.png') top center/cover no-repeat; /* Background */
    padding: 5.8rem 0;
}



.promo_bagcollection .inner_container .txt__wrapper .promo_bagcollection_title {
    margin: 0;
    flex-grow: 0;
    font-size: 4rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6; 
    letter-spacing: normal;
    text-align: center;
    color: #fff;

    text-transform: uppercase;
}

.promo_bagcollection .inner_container .txt__wrapper .promo_bagcollection_button {
    background-color: #fff;
    margin: 2.4rem auto 0 auto;
    padding: 1.2rem 2.2rem;
    border: 0;
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #000;

    
}

.promo_bagcollection .inner_container .txt__wrapper .promo_bagcollection_button:hover {
    cursor: pointer;
    color: #fff;
    background: #000;
}

.newseason {
    min-height: 12rem;
    padding-top: 5.6rem;
}

.newseason .inner_container .txt__wrapper .newseason_title, .perfume .inner_container .txt__wrapper .perfume_title {
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #e0c78b;

}

.newseason .inner_container .txt__wrapper .newseason_subtitle, .perfume .inner_container .txt__wrapper .perfume_subtitle {
    font-size: 1.8rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #000;

    margin-top: 0.8rem;
    padding: 0 2.4rem;
}

.product_slider {
    min-height: 36.1rem;
    padding-top: 5.6rem;
    margin-bottom: 2.4rem;
}

.product_slider .product_slider_wrapper  {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.product_slider .product_slider_wrapper .product_slider_item {
    width: calc((100% / 4) - 2rem);
}

.product_slider .product_slider_wrapper .product_slider_item a {
    text-decoration: none;
}

.product_slider .product_slider_wrapper .product_slider_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_slider .product_slider_wrapper .product_slider_descr {
    margin-top: 1.6rem;

    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.product_slider .product_slider_wrapper .product_slider_price {
    margin-top: 0.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}

.product_slider .product_slider_wrapper .product_slider_price::after {
    content: ' руб';
}

.capucines {
    min-height: 22.8rem;
    padding-top: 5.6rem;
    margin-bottom: 0.8rem;
}

.capucines .inner_container .capucines_title {
    font-size: 4.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.capucines_block {
    min-height: 74.6rem;
    padding-top: 5.6rem;
}

.capucines_block .container {
    padding: 0;
}

.capucines_block .capucines_block_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.capucines_block .capucines_block_wrapper .capucines_block_item {
    width: calc((100% / 2) - 2rem);   
    padding: 0 8.6rem;
    background: #ede7da;
    display: flex;
}

.capucines_block .capucines_block_wrapper .capucines_block_item:last-child {
    padding: 0;
    background: #ede7da;
    display: inline;

}

.capucines_block .capucines_block_wrapper .capucines_block_item .capucines_block_descr {
    font-size: 3.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    
    margin: auto;

}
.capucines_block .capucines_block_wrapper .capucines_block_item .capucines_block_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfume {
    min-height: 21rem;
    padding-top: 5.6rem;
}

.perfume_promo {
    min-height: 68.8rem;
    padding-top: 5.6rem;
}
.perfume_promo .perfume_promo_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.perfume_promo .perfume_promo_wrapper:nth-child(2n) {
    flex-direction: row-reverse;
}

.perfume_promo .perfume_promo_wrapper .perfume_promo_item {
    width: calc((100% / 2) - 2rem);
}

.perfume_promo .perfume_promo_wrapper .perfume_promo_item:nth-child(2n) { /* ~61px ~ 6.1rem */
    margin: auto 0;
}

.perfume_promo .perfume_promo_wrapper .perfume_promo_item .txt__wrapper {
    align-items: flex-start;
}

.perfume_promo .perfume_promo_wrapper .perfume_promo_item .perfume_promo_img {
    min-height: 33.4rem;
    width: 100%;
    object-fit: cover;

    
}

.perfume_promo .perfume_promo_wrapper .perfume_promo_title {
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #000;
}

.perfume_promo .perfume_promo_wrapper .perfume_promo_descr {
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000;

    margin-top: 1.6rem;
}

.perfume_promo .perfume_promo_wrapper .perfume_promo_buy_button {
    margin-top: 3.2rem;
    padding: 0.8rem 1.8rem;
    border: none;
    outline: none;
    text-align: center;
    min-width: 9.6rem;
    min-height: 4.4rem;
    background: #000;
    color: #FFF;
    font-size: 1.6rem;
    border: 0;
    border-radius: 0;
    font-family: Montserrat;
}

.perfume_promo .perfume_promo_wrapper .perfume_promo_buy_button:hover {
    cursor: pointer;
    background: #b9b9b9;
    color: #000;
}


.footer {
    min-height: 21.6rem;
    background: black;
    color: #fff;
    margin-top: 5.6rem;
    padding-top: 4rem;
}

.footer .lv_logo {
    filter: invert(100%);
}
.footer_divider {
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    margin-top: 4rem;
}

.footer .row {
    padding-top: 4rem;
}


.footer .row .footer_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .row .footer_nav_list .footer_item {
    list-style: none;
    margin-right: 3.2rem;
}
/* row footer_nav_list footer_item footer_country country_item country_flag */

.footer .row .footer_nav_list .footer_country {
    display: flex;
    justify-content: flex-start;
    align-items: center ;

}

.footer .row .footer_nav_list .footer_country .country_item {
    list-style: none;

}

.footer .row .footer_nav_list .footer_country .country_item:first-child {
    margin-right: .8rem;
    margin-top: .6rem;
}

.footer .row .footer_nav_list .footer_item a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;

    flex-grow: 0;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
}

.footer .row .footer_nav_list .footer_item a:hover {
    color: #A6A6A6;
    text-decoration: underline;
}

.footer .row .footer_nav_list .footer_item:last-child {
    margin-right: 0;
}


/* Tablet width (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        max-width: 1024px;
        padding: 0 4rem;   
    }

    .inner_container {
        max-width: 65.5rem;
    }

    .header {
        min-height: 11.8rem;
        padding-top: 2.4rem;
        padding-bottom: 1.6rem;
    }

    .header_lv_logo_img {
        width: 17.1rem;
    }

    .header .header_nav_list {
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
       
    
    }

    .header .header_nav_list .header_nav_item .link_block {
        display: flex;
        justify-content: none;
        align-items: none;
    }
    
    .header .header_nav_list .header_nav_item:last-child {
        margin-top: 2rem;
    }

    .promo_bagcollection {
        min-height: 22.4rem;
        padding: 2.4rem 0;
        margin-bottom: .8rem;
    }

    .promo_bagcollection .inner_container .txt__wrapper .promo_bagcollection_title {
        font-size: 3.2rem;
    }

    .newseason {
        min-height: 12rem;
        padding-top: 1.6rem;
    }

    .newseason .inner_container .txt__wrapper .newseason_subtitle, .perfume .inner_container .txt__wrapper .perfume_subtitle {
        padding: 0;
    }

    .product_slider {
        min-height: 74.6rem;
        padding-top: 1.6rem;
        margin-bottom: 3.2rem;
    }

    /* .product_slider {
        max-height: 74.6rem;
        padding-top: 5.6rem;
        margin-bottom: 2.4rem;
    } */

    .product_slider .product_slider_wrapper  {
        flex-wrap: wrap;
        
    }

    .product_slider .product_slider_wrapper .product_slider_item {
        width: calc((100% / 2) - 2rem);
    }

    .product_slider .product_slider_wrapper .product_slider_item:nth-child(n+3) {
        margin-top: 2.4rem;
    }

    .capucines {
        min-height: 19.2rem;
        padding-top: 1.6rem;
        margin-bottom: 0;
    }

    .capucines .inner_container .capucines_title {
        font-size: 4rem;
        line-height: 1.6;
    }

    .capucines_block {
        min-height: 39.2rem;
        padding-top: 1.6rem;
        margin-bottom: 2.4rem;
    }

    .capucines_block .capucines_block_wrapper .capucines_block_item {
        padding: 0 4.5rem;

    }

    .capucines_block .capucines_block_wrapper .capucines_block_item .capucines_block_descr {
        font-family: Montserrat;
        font-size: 1.8rem;
        line-height: 1.78;
        color: black;
    }

    .perfume {
        padding-top: 1.6rem;
        margin-bottom: 2.4rem;
    }

    .perfume_promo {
        min-height: 48.6rem;
        padding-top: 1.6rem;
    }
    
    .perfume_promo .perfume_promo_wrapper:nth-child(n+2) {
        margin-top: 3.2rem;
    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_item .perfume_promo_img {
        min-height: 22.7rem;
    
    }
    .perfume_promo .perfume_promo_wrapper .perfume_promo_title {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_descr {
        font-size: 1.4rem;
        line-height: 1.57;

        overflow: hidden;
        text-overflow: ellipsis;
    
    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_buy_button {
        margin-top: 1.6rem;
    }

    .footer {
        min-height: 21.6rem;
        padding-top: 2.4rem;
    
    }

    .footer .container {
        padding: 0 11.1rem; 
    }

    .footer .lv_logo {
        text-align: center;    
    }

    .footer .lv_logo .lv_logo_img {
        width: 17.1rem;
    }
    
    .footer .footer_divider {
        display: none;
    }

    .footer .row {
        padding-top: 1.6rem;
    }
    
    
    .footer .row .footer_nav_list {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
}

/* Mobile width <768px */
@media screen and (max-width: 767px) {

    .container {
        max-width: 375px;
        padding: 0 1.6rem;   
    }

    .inner_container {
        max-width: 34.3rem;
    }

    .header {
        min-height: 4rem;
        padding: .7rem 0;
    }

    .header_lv_logo_img {
        width: 12.6rem;
    }

    .header .header_nav_list {
        flex-direction: row;
        justify-content: center;
        align-items: space-between;
       
    
    }
    .header .header_nav_list .header_nav_item:first-child {
        margin-right: auto;
    }

    .header .header_nav_list .header_nav_item .link_block {
        display: none;
    }
    
    /* .header .header_nav_list .header_nav_item:last-child {
        margin-top: 2rem;
    } */

    .promo_bagcollection {
        min-height: 15.6rem;
        padding: 2.7rem 0;
        margin-bottom: 0;
    }

    .promo_bagcollection .inner_container .txt__wrapper .promo_bagcollection_title {
        font-size: 1.8rem;
    }

    .promo_bagcollection .inner_container .txt__wrapper .promo_bagcollection_button {
        margin: 1rem auto 0 auto;
        padding: .6rem 1.2rem;
        font-size: 1.2rem;
    }

    .newseason {
        min-height: 8.9rem;
        padding-top: 1.6rem;
    }

    .newseason .inner_container .txt__wrapper .newseason_title, .perfume .inner_container .txt__wrapper .perfume_title {
        font-size: 2.4rem;
        line-height: 1.58;
    }

    .newseason .inner_container .txt__wrapper .newseason_subtitle {
        font-size: 1.4rem;
        line-height: 1.6;

        margin-top: 0.6rem;
        padding: 0;
    }

    .product_slider {
        min-height: 50.8rem;
        padding-top: 1.6rem;
        margin-bottom: 1.6rem;
    }

    .product_slider .product_slider_wrapper  {
        flex-wrap: wrap;
        
    }

    .product_slider .product_slider_wrapper .product_slider_item {
        width: calc((100% / 2) - 2rem);
    }

    .product_slider .product_slider_wrapper .product_slider_item:nth-child(n+3) {
        margin-top: 1.6rem;
    }

    .product_slider .product_slider_wrapper .product_slider_descr {
        margin-top: .8rem;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .product_slider .product_slider_wrapper .product_slider_price {
        margin-top: .6rem;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .capucines {
        min-height: 16.0rem;
        padding-top: 1.6rem;
        margin-bottom: 1.6rem;
    }

    .capucines .inner_container .capucines_title {
        font-size: 2.4rem;
        line-height: 1.67;
    }

    .capucines_block {
        min-height: 78.5rem;
        padding-top: 1.6rem;
        margin-bottom: .8rem;
    }

    .capucines_block .capucines_block_wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }

    .capucines_block .capucines_block_wrapper .capucines_block_item {
        width: 100%;   
    }

    .capucines_block .capucines_block_wrapper .capucines_block_item:first-child {
        order: 2;
        width: 100%;   
        padding: auto;
        padding: 7.6rem 0;
    }

    .capucines_block .capucines_block_wrapper .capucines_block_item:last-child { 
        padding: 0;
    }
    
    .capucines_block .capucines_block_wrapper .capucines_block_item .capucines_block_descr {
        font-size: 2.2rem;
        line-height: 1.82;
    }

    .perfume {
        padding-top: 1.6rem;
    }

    .perfume .inner_container .txt__wrapper .perfume_subtitle {
        font-size: 1.4rem;
        line-height: 1.6;
        margin-top: 0.8rem;
        padding: 0;
    }

    .perfume_promo {
        min-height: 89rem;
        padding-top: 1.6rem;
    }

    .perfume_promo .perfume_promo_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .perfume_promo .perfume_promo_wrapper:nth-child(2n) {
        flex-direction: column;
    }

    .perfume_promo .perfume_promo_wrapper:nth-child(n+2) {
        margin-top: 1.6rem;
    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_item {
        width: 100%;

    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_item .perfume_promo_img {
        min-width: 34.3rem;
        object-fit: cover;
    
    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_item .perfume_promo_item__txt {
        margin-top: 1.6rem;
    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_title {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_descr {
        font-size: 1.4rem;
        line-height: 1.57;

        overflow: hidden;
        text-overflow: ellipsis;
    
    }

    .perfume_promo .perfume_promo_wrapper .perfume_promo_buy_button {
        width: 100%;
        margin-top: 1.6rem;
    }

    .footer {
        min-height: 33rem;
        margin-top: 4rem;
        padding-top: 2.4rem;
    
    }

    .footer .container {
        padding: 0 8.1rem; 
    }

    .footer .lv_logo {
        text-align: center;    
    }

    .footer .lv_logo .lv_logo_img {
        width: 17.1rem;
    }
    
    .footer .footer_divider {
        display: none;
    }

    .footer .row {
        padding-top: 1.6rem;
    }
    
    
    .footer .row .footer_nav_list {
        display: block;
        /* max-width: 21.3rem; */
        
    }

    .footer .row .footer_nav_list .footer_item {
        
    }
} 